# Common
.env
.env.*
# build/ Can't build in post-install with --production: missing devDependencies

# NodeJS (due to large number of files)
node_modules/

# Lint
tsconfig.staged.json

# Cypress
cypress/screenshots/
cypress/videos/

# SSH
.ssh/
