.env
.env.*
build/

# NodeJS (due to large number of files)
node_modules/

# Terraform
terraform/.terraform
terraform/variables.tfvars
terraform/*.tfstate.backup
terraform/*.tfplan

# nyc
.nyc_output/

# Cypress
cypress/screenshots/
cypress/videos/
