.env
.env.*
build/

# NodeJS (due to large number of files)
node_modules/

# nyc
.nyc_output/

# Terraform
terraform/.terraform
terraform/variables.tfvars
terraform/*.tfstate.backup
terraform/*.tfplan
